<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>​Heroínas​ y Héroes Tecnológicos​ </title>
</head>
<body>
    <img src="/img/Two_women_operating_ENIAC.gif" alt="foto de la Computadora ENIAC">
    <h1>​Las Heroínas​ y los ​Héroes Tecnológicos​ </h1>
    <p>Ellos son los héroes y las heroínas de la computación:</p>

    <a href="/babbage">Babbage</a>
    <a href="/berners-lee">Berners Lee</a>
    <a href="/clarke">Clarke</a>
    <a href="/hamilton">Hamilton</a>
    <a href="/hopper">Hopper</a>
    <a href="/lovelace">Lovelace</a>
    <a href="/turing">Turing</a>

</body>
</html>